.background-image {
    background-image: url(background\ \(1\).png);
    background-size: cover;
    color: #ffffff;
    height: 800px;
    width: 100%;
}
a {
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
}
a:hover {
    color: #ff6565;
}
p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: 16;
    font-weight: 26;
    font-style: normal;
  }
  h5 {
    font-style: bold;
    font-size: 36;
  }
  .container {
    justify-content: center;
    text-align: center;
    padding: 300px;
    margin: 50px;
  }
  button {
    background-color: #ff6565;
    color: #ffffff;
    border-radius: 22px;
  }
  button:hover {
    opacity: 0.9;
  }
  img {
    margin-top: 10px;
    margin-left: 20;
  }
  nav {
    margin-top: 10px;
  }
