.animal {
    background-color: #f2f2f2;
    width: 1400px;
}
.music {
    justify-content: center;
    text-align: center;
}
.video {
    display: flex;
}
.sound {
    flex: auto;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    padding: 50px;
}
h5 {
    font-family: source sans pro;
    font-size: 32px;
    font-weight: bold;
}
h6 {
    font-family: source sans pro;
    font-size: 18px;
    font-weight: bold;
}
p {
    font-family: source sans pro;
    font-size: 14px;
    font-weight: normal;
}