.background-image {
    background-image: url(background\ \(1\).png);
    background-size: cover;
    color: #ffffff;
    height: 800px;
    width: 100%;
}
a {
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
}
a:hover {
    color: #ff6565;
}
p {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: 16;
    font-weight: 26;
    font-style: normal;
  }
  h5 {
    font-style: bold;
    font-size: 36;
  }
  .container {
    justify-content: center;
    text-align: center;
    padding: 300px;
    margin: 50px;
  }
  button {
    background-color: #ff6565;
    color: #ffffff;
    border-radius: 22px;
  }
  button:hover {
    opacity: 0.9;
  }
  img {
    margin-top: 10px;
    margin-left: 20;
  }
  nav {
    margin-top: 10px;
  }
.animal {
    background-color: #f2f2f2;
    width: 100%;
}
.music {
    justify-content: center;
    text-align: center;
}
.video {
    display: flex;
}
.sound {
    flex: auto;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    padding: 50px;
}
h5 {
    font-family: source sans pro;
    font-size: 32px;
    font-weight: bold;
}
h6 {
    font-family: source sans pro;
    font-size: 18px;
    font-weight: bold;
}
p {
    font-family: source sans pro;
    font-size: 14px;
    font-weight: normal;
}
.background {
    background-image: url(background\ \(2\).png); 
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 650px;
}
.lorem {
    justify-content: center;
    text-align: center;
    padding: 100px;
}
.dot {
    display: flex;
}
.map {
    flex: auto;
    justify-items: center;
    align-items: center;

}
.contact {
    display: flex;
}
.name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 373px;
    margin-left: 700px;
    padding-top: 50px;
    font-weight: bold;

}
button {
    border-radius: 22px;
    background-color: #ff6565;
    color: #ffffff;
    width: 162px;
    height: 44px;
    
}
button:hover {
    opacity: 0.9;
}
.icon {
    background-color: #071629;
    width: 100%;
    height: 249px;
}
.copy {
    color: #ffffff;
    text-justify: center;
    text-align: center;
}
.social {
    display: flex;
    flex: auto;
    justify-content: end;
    align-items: end;
}
.red {
    display: flex;
    flex: auto;
    margin: 10px;
    padding: 20px;
}
.screen {
    width: 190px;
    height: 190px;
    border: 0;
    padding: 50px;
}
.com {
    display: flex;
    flex: auto;
    width: 60px;
    height: 190px;
    position: relative;
    border: 0;
}